* {
  margin: 0;                  /* Remove margens padrão dos elementos */
  padding: 0;                 /* Remove espaçamentos padrão */
  box-sizing: border-box;     /* Inclui padding e bordas no cálculo total da largura/altura */
  font-family: "Poppins", sans-serif; /* Define a fonte principal do site */
}

body {
  background: #0d0d0d;        /* Cor de fundo escura (preto suave) */
  color: #f2f2f2;             /* Cor padrão do texto (branco acinzentado) */
  scroll-behavior: smooth;    /* Faz a rolagem da página ser suave */
}

/* SEÇÕES GERAIS */
section {
  padding: 20px 10%;          /* Espaçamento interno das seções (vertical e horizontal) */
  text-align: center;         /* Centraliza o conteúdo do texto */
  
}

section p{
  max-width: 700px;           /* Define uma largura máxima para o texto */
  margin: 0 auto;             /* Centraliza o parágrafo */
  color: #ccc;                /* Cor cinza clara */
  font-size: 1.05em;          /* Tamanho de fonte confortável para leitura */
}

h2 {
  color: #00ff88;             /* Cor verde neon para títulos das seções */
  font-size: 1.8em;           /* Tamanho da fonte dos títulos */
  margin-bottom: 20px;        /* Espaço abaixo dos títulos */
}

/* SEÇÃO HERO (INÍCIO)*/
.hero {
  min-height: 5vh;           /* Ocupa 80% da altura da tela */
  text-align: center;         /* Centraliza conteúdo da seção */
}

.hero img {
  width: 230px;               /* Largura da imagem de perfil */
  height: 230px;              /* Altura da imagem de perfil */
  object-fit: cover;          /* Garante que a imagem preencha o espaço sem distorção */
  display: block;             /* Transforma a imagem em elemento de bloco */
  margin: 0 auto 20px auto;   /* Centraliza a imagem e adiciona espaço abaixo */
}

/*TEXTO DA SEÇÃO HERO */
.hero-text h2 {
  color: #00ff88;             /* Título verde neon */
  font-size: 2em;             /* Tamanho maior para destaque */
  margin-bottom: 10px;        /* Espaço abaixo do título */
}

.hero-text p {
  color: #ccc;                /* Texto em cinza claro */
  font-size: 1.05em;          /* Tamanho um pouco maior que o padrão */
}

/*  SEÇÃO SOBRE */
.sobre p {
  max-width: 700px;           /* Define uma largura máxima para o texto */
  margin: 0 auto;             /* Centraliza o parágrafo */
  color: #ccc;                /* Cor cinza clara */
  font-size: 1.05em;          /* Tamanho de fonte confortável para leitura */
}


footer {
  background: #0a0a0a;        /* Fundo mais escuro que o restante da página */
  border-top: 1px solid #00ff88; /* Linha verde neon separando o rodapé do conteúdo */
  text-align: center;         /* Centraliza o texto */
  padding: 15px;              /* Espaçamento interno */
  color: #777;                /* Cor do texto em cinza suave */
  font-size: 0.9em;           /* Tamanho menor para o rodapé */
}






